<div class="container">

    <div class="jumbotron">
        <h1 class="display-4"  style="color: white; font: italic;">Bem vindo a Trap_Lab brô</h1>
        <p class="lead" style="color: white; font: italic;">Web site voltado para criação e divulgação de rappers e trappers,
         tanto para independentes quanto grupos da cena</p>
        <hr class="my-4">
        <p style="color: white; font: italic;">Você pode criar o seu proprio perfil, com suas informações, e melhores musicas, e também o link do seu canal de youtube e para suas plataformas digitais</p>
        <p style="color: white; font: italic;">Click no botão abaixo para conferir a lista dos artistas da cena cadastrados.</p>
        <a class="btn btn-primary btn-lg" routerLink="/trapperlist"  role="button">Click $</a>
     
    </div>
           
</div>





