<div class="container">
    <form>

        <div class="form-group">
            <label for="exampleInputPassword1"><strong>Nome</strong></label>
            <input type="email" class="form-control">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1"><strong>Email address</strong></label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">O email precisa ser verdadeiro</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
            <small id="emailHelp" class="form-text text-muted">Senha de no minimo 6 caracteres</small>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <button type="submit" style="margin-left: 10px;" class="btn btn-danger" routerLink ="/trapperlist">Sair</button>
    </form>
</div>