<div class="container" *ngIf="denuncias" >

<form>
    <div class="form-group">
        <label for="exampleInputEmail1"><strong>Nome do trapper</strong></label>
        <input type="email" class="form-control" aria-describedby="trapperHelp"
            placeholder=" Digite o nome do trapper com irregularidade" style="width: 500px;" [(ngModel)]="denuncias.nome_trapper" name="nome_trapper">
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1"><strong>Descrição da denuncia</strong></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="width: 300px;" [(ngModel)]="denuncias.descricao_denuncia" name="desc_denuncia"></textarea>
      </div>


    <!-- Motivo da denuncia -->

<br>
    <label for="exampleInputDenuncia"><strong>Motivo da denuncia</strong></label>

    <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Não gostei" [(ngModel)]="denuncias.motivo_denuncia" name="motivo_denuncia">
    <label class="form-check-label" for="exampleRadios1">
        Não gostei
    </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Esta fazendo discurso de odio" [(ngModel)]="denuncias.motivo_denuncia" name="motivo_denuncia">
        <label class="form-check-label" for="exampleRadios2">
           Esta fazendo discurso de odio
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="E ofensivo" [(ngModel)]="denuncias.motivo_denuncia" name="motivo_denuncia">
        <label class="form-check-label" for="exampleRadios3">
            E ofensivo
        </label>
    </div>
<br>
    <button type="submit" class="btn btn-primary" (click)="envDenuncia()">Enviar</button>
</form>


</div>