<nav class="navbar navbar-expand-lg navbar-light" style="background-color: black">
    <a class="navbar-brand" href="#">
        <img src="assets/img/trap_lab.png" width="100" height="80" class="d-inline-block align-top" alt="" loading="lazy">
    </a>
    <a style="color: white; font: italic;" class="navbar-brand" href="#"><strong>Trap_Lab</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a style="color: white;" class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a style="color: white;" class="nav-link" routerLink="/cadastro" >Cadastre-se</a>
            </li>
            <li class="nav-item dropdown">
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

   
    </div>
</nav>

