<div style="margin-left: 50px;" class="container" class="button_create">

    <button type="button" class="btn btn-outline-dark" routerLink="/trapper/create">Cadastre um artista da cena</button>

</div>

<br>
<br>
<br>

<div class="container">


    <table class="table table-dark" style="background-color: black;">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Musicas</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let trapper of trappers">
                <td>{{trapper.nome}}</td>
                <td>{{trapper.musicas}}</td>
                <td>

                    <a routerLink="/trapper/info/{{trapper.id_trapper}}" style="color: white;">

                        <i>

                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-square-fill"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.93 4.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                            </svg>

                        </i>

                    </a>

                    <a routerLink="/trapper/update/{{trapper.id_trapper}}" style="margin-left: 10px;">

                        <i>

                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd"
                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                            </svg>


                        </i>


                    </a>



                </td>

            </tr>
        </tbody>
    </table>



</div>