<div class="container">

    <form>
        <div class="form-group">
            <label for="exampleInputNome">Nome</label>
            <input type="nome" class="form-control" id="exampleInputnome" placeholder="Ex: Raff" name="nome"
                [(ngModel)]="trapper.nome">
        </div>
        <div class="form-group">
            <label for="exampleInputMusica">Musicas</label>
            <input type="musicas" class="form-control" id="exampleInputMusicas" name="musicas"
                [(ngModel)]="trapper.musicas">
        </div>
        <div class="form-group">
            <label for="exampleInputBio" name="bio">Biografia</label>
            <input type="bio" class="form-control" id="bio" placeholder="Coloque uma breve bio" name="bio"
                [(ngModel)]="trapper.bio">
        </div>
        <div class="form-group">
            <label for="exampleInputBio" name="bio">Canal</label>
            <input type="canal" class="form-control" id="canal" placeholder="Coloque o link do canal do youtube" name="bio"
                [(ngModel)]="trapper.canal">
        </div>
        <form>
            <div class="form-group">
                <label for="exampleFormControlFile1">Foto do perfil</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1" (change)="onChange($event)">
            </div>
        </form>
        <button type="submit" class="btn btn-primary" (click)="createTrapper()">Cadastrar</button>
        <button type="button" style="margin-left: 10px;" class="btn btn-danger" (click)="cancel()">Cancelar</button>
    </form>

</div>