<div class="container" *ngIf="trapper" style="margin-top: 20px;">
<h1 style="font: italic;"><strong>{{trapper.nome}}</strong></h1>

<img style="margin-left: 20px;" [src]="'http://localhost:3001/trapper-img/' + trapper.imagem_trapper" width="200px"
    height="200px" alt="..." class="img-thumbnail">


<form style="margin-left: 20px;">
    <div class="form-group">

        <label for="exampleInputEmail1">Musica(s)</label>
        <input type="musicas" class="form-control" id="exampleInputMusic" aria-describedby="emailHelp" disabled
            [value]="trapper.musicas">

    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Bio</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" disabled>{{trapper.bio}}</textarea>
    </div>
</form>

<br>
<a style="margin-bottom: 20px; color: white;" type="button" href="{{trapper.canal}}" target="_blank" class="btn btn-primary">Visitar o canal</a>
<a style="margin-bottom: 20px; margin-left: 10px; " type="button" routerLink="/trapper/update/{{trapper.id_trapper}}" class="btn btn-success">Editar wiki</a>
<a style="margin-bottom: 20px; color: white; margin-left: 20px;" (click)="cancel()" class="btn btn-danger">Sair</a>
</div>
