
<div class="container" *ngIf="trapper" >

    <form>
        <div class="form-group">
            <label for="exampleInputNome">Nome</label>
            <input type="nome" class="form-control" id="exampleInputnome" placeholder="Ex: Raff" name="nome"
                [(ngModel)]="trapper.nome">
        </div>
        <div class="form-group">
            <label for="exampleInputMusica">Musicas</label>
            <input type="musicas" class="form-control" id="exampleInputMusicas" name="musicas"
                [(ngModel)]="trapper.musicas">
        </div>
        <div class="form-group">
            <label for="exampleInputcanal" name="canal">Canal</label>
            <input type="canal" class="form-control" id="canal" placeholder="Coloque o link do canal do youtube" name="canal"
                [(ngModel)]="trapper.canal">
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Bio</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" name="bio" [(ngModel)]="trapper.bio"></textarea>
          </div>

        <button type="submit" class="btn btn-primary" (click)="updateTrapper()">Atualizar</button>
        <button type="button" style="margin-left: 10px;" class="btn btn-danger" routerLink="/trapper/info/{{trapper.id_trapper}}">Cancelar</button>
    </form>

</div>